<h2 mat-dialog-title>Ajouter une demande d'autorisation</h2>
<mat-divider />
<mat-dialog-content>
  <app-form-projet #formProjetComponent/>
</mat-dialog-content>
<mat-divider />
<mat-dialog-actions>
  @if (formProjetComponent.projectFormGroup) {
    <div class="flex justify-between w-full">
      <button mat-stroked-button mat-dialog-close>Annuler</button>
      <button mat-flat-button
              [disabled]="formProjetComponent.projectFormGroup.invalid"
              [mat-dialog-close]="formProjetComponent.projectFormGroup.value">
        Créer
      </button>
    </div>
  }
</mat-dialog-actions>
