@if (item()) {
  <mat-card class="p-4 mt-4 bg-white">
    <div class="flex justify-between">
      <div class="flex gap-4">
        <div>
          <div class="rounded-full p-4 bg-blue-200">
            <svg-icon [src]="'icons/trace.svg'"/>
          </div>
        </div>
        <div class="flex flex-col gap-2">
          <div>
            <div class="font-inter text-sm text-neutral-600">Demande d'autorisation de travaux</div>
            <div class="text-base font-poppins font-medium text-neutral-900">{{ item().name }}</div>
          </div>
          <div class="flex gap-4">
            <span class="bg-neutral-900 text-white px-3 py-1 rounded-md text-sm font-inter">{{ item().user }}</span>
            @if (item().contract) {
              <span
                class="bg-neutral-100  px-3 py-1 rounded-md text-sm font-inter">Contrat {{ item().contract }}</span>
            }
          </div>
          <!--une autre possibilité avec des chips mais c'est une solution plus lourde avec les imports
          <mat-chip-set>
            <mat-chip [disableRipple]="true">{{item().user}}</mat-chip>
            @if (item().contract) {
              <mat-chip [disableRipple]="true">Contrat {{item().contract}}</mat-chip>
            }
          </mat-chip-set>-->
        </div>
      </div>
      <div>
        <div class="flex gap-2 items-center">

          <app-pill [projet]="item()" />

          <button id="option" mat-icon-button [matMenuTriggerFor]="matMenuPanel()"
                  [matMenuTriggerData]="{projet: item()}" aria-label="menu-projet">
            <mat-icon>more_vert</mat-icon>
          </button>
        </div>
      </div>

    </div>
  </mat-card>
}
