<div class="container max-w-4xl mx-auto pt-10">
  <app-head [title]="'Liste des demandes'"
            [subtitle]="'Gérer les demandes d\'autorisation de travaux.'">

    <!-- pour utiliser un ng-content pour le test -->
    <button id="add" mat-flat-button class="rounded-sm bg-blue-600" (click)="add()">
      <mat-icon>add</mat-icon>
      <span class="font-inter text-sm font-medium">Ajouter</span>
    </button>
  </app-head>

  @let projets = $projets | async;
  @for (projet of projets; track $index) {
    <app-item [item]="projet" [matMenuPanel]="appMenu" />

    <!-- une seule instanciation du MatMenuPanel, plutot que une pour chaque items -->
    <mat-menu #appMenu="matMenu">
      <ng-template matMenuContent let-projet="projet">
        <button id="edit" mat-menu-item (click)="edit(projet)">
          <mat-icon>edit</mat-icon>
          <span>Editer</span>
        </button>
        <button id="delete" mat-menu-item (click)="delete(projet)">
          <mat-icon>delete</mat-icon>
          <span>Supprimer</span>
        </button>
      </ng-template>
    </mat-menu>
  } @empty {
    <div>Aucune demande en cours</div>
  }
</div>



