
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@use 'sass:map';

$_palettes: (
  primary: (
    0: #000000,
    10: #00174b,
    20: #002979,
    25: #003390,
    30: #003da9,
    35: #0048c2,
    40: #0052dc,
    50: #2e6cfd,
    60: #628bff,
    70: #8ca8ff,
    80: #b4c5ff,
    90: #dbe1ff,
    95: #eff0ff,
    98: #faf8ff,
    99: #fefbff,
    100: #ffffff,
  ),
  secondary: (
    0: #000000,
    10: #0c1648,
    20: #232c5e,
    25: #2e386a,
    30: #3a4376,
    35: #464f83,
    40: #525b90,
    50: #6b74aa,
    60: #848dc6,
    70: #9fa8e2,
    80: #bac3ff,
    90: #dee0ff,
    95: #f0efff,
    98: #fbf8ff,
    99: #fefbff,
    100: #ffffff,
  ),
  tertiary: (
    0: #000000,
    10: #321200,
    20: #522300,
    25: #632b00,
    30: #753400,
    35: #873d00,
    40: #9a4600,
    50: #c05900,
    60: #e56f0f,
    70: #ff8d41,
    80: #ffb68c,
    90: #ffdbc9,
    95: #ffede5,
    98: #fff8f5,
    99: #fffbff,
    100: #ffffff,
  ),
  neutral: (
    0: #000000,
    10: #171c1f,
    20: #2c3134,
    25: #373c3f,
    30: #43474b,
    35: #4e5356,
    40: #5a5f62,
    50: #E3E8EF,
    60: #8d9195,
    70: #a7acb0,
    80: #c3c7cb,
    90: #dfe3e7,
    95: #edf1f5,
    98: #f6fafe,
    99: #fbfcff,
    100: #ffffff,
    4: #0a0f12,
    6: #0f1417,
    12: #1b2023,
    17: #262b2e,
    22: #313539,
    24: #353a3d,
    87: #d6dade,
    92: #e5e9ed,
    94: #eaeef2,
    96: #ffffff,
  ),
  neutral-variant: (
    0: #000000,
    10: #171c1f,
    20: #2c3134,
    25: #373c3f,
    30: #43474b,
    35: #4e5356,
    40: #5a5f62,
    50: #e3e8ef,
    60: #f2f5f7,
    70: #f7f9fa,
    80: #fafbfc,
    90: #fcfdfd,
    95: #fefefe,
    98: #fff8f8,
    99: #fffbff,
    100: #ffffff,
  ),
  error: (
    0: #000000,
    10: #660033,
    20: #7f0033,
    25: #8b0033,
    30: #9c0033,
    35: #a80033,
    40: #b30033,
    50: #d40033,
    60: #e60033,
    70: #ff0033,
    80: #ff6666,
    90: #ffc2c2,
    95: #ffe6e6,
    98: #fff2f2,
    99: #fff8f8,
    100: #ffffff,
  ),
);

$_rest: (
  secondary: map.get($_palettes, secondary),
  neutral: map.get($_palettes, neutral),
  neutral-variant: map.get($_palettes,  neutral-variant),
  error: map.get($_palettes, error),
);

$primary-palette: map.merge(map.get($_palettes, primary), $_rest);

html {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: $primary-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

.mdc-notched-outline__notch {
  border-right: none;
}
