@import url("@fontsource/poppins/index.css");
@import url("@fontsource/inter/index.css");
@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", medium;
  --font-inter: "Inter", regular;
}

button {
  border-radius: 10px !important;
  border-color: #155EEF !important;
}
